/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #5a5a5a;
}

nav{
    background-color: rgba(0, 0, 0, .85);
    backdrop-filter: saturate(180%) blur(20px);
}
nav a{
    color: #999;
    transition: ease-in-out color .15s;
}
nav a:hover{
    color: #fff;
    text-decoration: none;
}

aside{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 20px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

aside .nav-link {
  font-weight: 500;
  color: #333;
  padding-left: 10px;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

aside .nav-link.active {
  color: #007bff;
}

a>span{
  display: inline-block;
  color: rgb(68, 68, 68);
  width: 24px;
}

  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  

.bg{
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.card{
  background-color: rgba(255, 255, 255, 0.75)
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -15%;
  width: 250px;
  height: 450px;
  background-color: rgb(75, 74, 74);
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.418);
  border-radius: 5px;
}

.overflow-hidden { overflow: hidden; }

#bg-index{
  background-image: url('../img/bg-index.jpg');
  background-size: cover;
  border-radius: 20px;
  margin: 68px 16px;
}

.row{
  margin-top:75px;
}