body{
    margin: 0;
    font-family: 'Circular', Helvetica, Arial, sans-serif;
    font-weight: bold,
}

nav>a{
    text-decoration: none;
    color: aliceblue;
}

#hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    padding: 8px 0;
}

#hamburger:hover{
    cursor: pointer;
}

#hamburger>div{
    background-color: white;
    border-radius: 22%;
    height: 3px;
    width: 23px;
}

header{
    width: 100%;
    height: 54px;
    padding: 0 15px ;
    box-sizing: border-box;
    position: fixed;
    top:0%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.logo{   
    height: 26.6px;
}

.top{
    justify-content: center;
}

nav{
    display: none;
    justify-content: space-between;   
    color: white;
    width: 30%;
}

.nav-items{
    display: flex;
    justify-content: space-evenly;
    padding: 0 15px;
}

.backtop{
    width: 100%;
    height: 60vh;
}

nav img{
    width: 100px;
    height: 50px;
}

#carrousel{
    position: relative;
    overflow: hidden;
    
}

.wall{
    display: none;
    width: 100%;
    height: 100%;
}

/* Corzinha de fundo para diferenciar */
.wall-1{ background-color: #f00; }
.wall-2{ background-color: #0f0; }
.wall-3{ background-color: #00f; }

.wall:target{
    display: block;
}


@media screen and (min-width: 768px){

    nav{
        display: flex;
    }

    #hamburger{
        display: none;
    }
}